{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'ads/css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'ads/css/styles.css' %}">
</head>
<body>
    <header class="has-background-light">
        <h1 class="title">{% block header %}{% endblock header %}</h1>
    </header>
    <main>
        {% block main %}{% endblock main %}
    </main>
    <footer>
        {% if page_obj %}
        <nav>
            <div class="prev-buttons">
                {% if page_obj.has_previous %}
                <a href="{% url 'advertisements_list' cat_name=cat_name page=1 %}"><button class="button is-black">To the begining</button></a>
                <a href="{% url 'advertisements_list' cat_name=cat_name page=page_obj.previous_page_number %}"><button class="button is-dark">Back</button></a>
                {% endif %}
            </div>
            <div class="pages">
                {% if page_obj.paginator.num_pages > 1 %}
                {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}
                {% endif %}
            </div>
            <div class="next-buttons">
                {% if page_obj.has_next %}
                <a href="{% url 'advertisements_list' cat_name=cat_name page=page_obj.next_page_number %}"><button class="button is-dark">Forward</button></a>
                <a href="{% url 'advertisements_list' cat_name=cat_name page=page_obj.paginator.num_pages %}"><button class="button is-black">To the end</button></a>
                {% endif %}
            </div>
        </nav>
        {% endif %}
    </footer>
</body>
</html>