body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    min-height: 75px;
    display: grid;
    align-items: center;
}
footer nav {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    gap: 10px;
    align-items: center;
}
footer nav .prev-buttons {
    justify-self: end;
}
footer nav .pages {
    justify-self: center;
}
footer nav .next-buttons {
    justify-self: start;
}
main {
    flex: 1;
    display: grid;
    grid-template-columns: min-content auto;
}
main aside {
    grid-column: 1;
    min-width: 10vw;
    padding: 10px;
    max-width: 15vw;
}
main aside nav {
    width: 100%;
}
main aside nav .menu-label {
    width: 100%;
}
.navigator-link {
    word-wrap: break-word;
}
main article {
    grid-column: 2;
}
/* .ads-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
} */