{% extends 'ads/layout/base.html' %}

{% block title %}Edit category{% endblock title %}

{% block header %}Edit category {{ category.name }}{% endblock header %}

{% block main %}
<form method="post" class="p-6">
    {% csrf_token %}

    <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
            <input class="input" type="text" name="name" id="name" value="{{ category.name }}">
        </div>
    </div>

    <div class="field">
        <label class="label" for="desc">Description</label>
        <div class="control">
            <textarea class="textarea" name="desc" id="desc" cols="30" rows="10">{{ category.desc }}</textarea>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="button is-primary" type="submit" value="Submit">
        </div>
    </div>
</form>
{% endblock main %}