{% extends 'ads/layout/base.html' %}

{% block title %}Categories{% endblock title %}

{% block header %}Categories{% endblock header %}

{% block top-menu-left %}
<div class="navbar-item">
    <div class="buttons">
        <a href="{% url 'ads:category_add' %}" class="button is-primary is-light add-cat-button">Add category</a>
    </div>
</div>
{% endblock top-menu-left %}

{% block main %}
{% for cat in cats %}
<div class="cat-block box">
    <div class="cat-title subtitle"><a href="{% url 'ads:advertisements_list' category=cat.name %}?page=1"><h2>{{ cat.name }}</h2></a></div>
    <div class="cat-desc content">{{ cat.desc }}</div>
    <div class="cat-count content has-text-danger-light has-background-dark p-2">{{ cat.advertisement_set.count }} ads</div>
    <div class="buttons">
        <a class="button is-warning is-light" href="{% url 'ads:category_edit' cat.name %}">Edit</a>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="category" value="{{ cat.id }}">
            <input class="button is-danger is-light" type="submit" value="Delete">
        </form>
    </div>
</div>
{% endfor %}
{% endblock main %}